<footer>
    <span>
        <span id="quote-content"></span> — <em><span id="quote-author"></span></em>
        <script>
            fetch('https://api.quotable.io/random?tags=technology')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("quote-content").textContent = data.content;
                    document.getElementById("quote-author").textContent = data.author;
                });
        </script>
    </span>
</footer>