<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title == "Home" %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon.png" | relative_url }}">

    <!-- RSS -->
    {% feed_meta %}

    <!-- SEO -->
    {% seo %}
</head>