* {
  @include box-sizing;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
  @media (min-width: 600px) {
    scroll-padding-top: 120px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  color: var(--content);
  background: var(--theme);
  font-family: $roboto;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  @media (min-width: 600px) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-family: $roboto;
  line-height: normal;
}

a {
  color: var(--links);
  text-decoration: none;
}

blockquote {
  border-left: .4rem solid var(--block-border);
  color: var(--tertiary);
  margin: 2rem 0;
  box-shadow: 0 0 3px var(--shadow);
  background: var(--block-bg);

  p {
    padding: 1rem;

    @media (min-width: 600px) {
      padding: 1rem 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

body:not(.dark) blockquote {
	box-shadow: 0 0 1px var(--shadow) !important;
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

hr {
  height: 1px;
  background-color: var(--border);
  border: none;
}

main {
  line-height: 1.65;
  padding: 10rem 0 0 0;

  @media (min-width: 600px) {
    padding: 7.5rem 0 0 0;
  }
}