.post {

  a {
    color: var(--links);
    text-decoration: none;
    border-bottom: 1px dotted var(--links);
  
    &:hover {
      border-bottom: 1px solid var(--links);
    }
  }

  h2 {
    margin: 4rem 0 2rem;
  }

  &-info {
    //text-align: center;
    color: var(--tertiary);
    font-family: $roboto;
    letter-spacing: 0.5px;

    span {
      font-style: italic;
    }
  }

  &-title {
    //text-align: center;
    color: var(--primary);
    font-family: $roboto;
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
  }

  &-tags {
    //text-align: center;
    margin: 0.2rem 0 0.4rem;
    color: var(--secondary);
  }

  &-tag {
    background-color: var(--tag);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  &-line {
    border-top: 0.4rem solid var(--primary);
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  &-break {
    margin: 0 0 2.5rem;
    border: 0;
    height: 1px;
    border-top: 2px solid var(--break);
    /*
    background-image: -webkit-linear-gradient(left, #21252b, #585858, #21252b);
    background-image: -moz-linear-gradient(left, #21252b, #585858, #21252b);
    background-image: -ms-linear-gradient(left, #21252b, #585858, #21252b);
    background-image: -o-linear-gradient(left, #21252b, #585858, #21252b);
    */
  }

  /*
  body:not(.dark) &-break {
    background-image: -webkit-linear-gradient(left, #f5f5f5, #969696, #f5f5f5) !important;
    background-image: -moz-linear-gradient(left, #f5f5f5, #969696, #f5f5f5) !important;
    background-image: -ms-linear-gradient(left, #f5f5f5, #969696, #f5f5f5) !important;
    background-image: -o-linear-gradient(left, #f5f5f5, #969696, #f5f5f5) !important;
  }
  */

  &-notice {
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem .5rem;
    margin-bottom: 2rem;
    border: 0 solid transparent;
    border-radius: .25rem;
    color: var(--notice-color);
    background-color: var(--notice-bg);
    border-color: var(--notice-border);
    box-shadow: 0 0.125rem var(--notice-shadow);

    &-icon {
      flex: 0 0 auto;
      margin-right: 1rem; 
    }

    &-content {
      flex: 1 1 auto;     
    }
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: var(--tertiary);
    display: block;
    font-family: $roboto;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}
