#theme-toggle:focus {
	outline: 0;
}

#theme-toggle svg {
	height: 18px;
}

button#theme-toggle {
    color: var(--primary);
	font-size: 26px;
	margin: auto 4px;
    cursor: pointer;
    padding: 0;
	font: inherit;
	background: 0 0;
	border: 0;
}

body.dark #moon {
	vertical-align: middle;
	display: none;
}

body:not(.dark) #sun {
	display: none;
}