---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>
        <div class="catalogue-tags">
          {% if post.tags %}
            {% for tag in post.tags %}
              <span class="catalogue-tag">{{ tag }}</span>
            {% endfor %}
          {% endif %}
        </div>

        <p class="catalogue-brief">
          {{ post.content | strip_html | truncatewords: 65 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  <div class="flex-container">
    <div>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
          <svg id="pagePrev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="18" fill="currentcolor"><path d="M203.9 405.3c5.877 6.594 5.361 16.69-1.188 22.62c-6.562 5.906-16.69 5.375-22.59-1.188L36.1 266.7c-5.469-6.125-5.469-15.31 0-21.44l144-159.1c5.906-6.562 16.03-7.094 22.59-1.188c6.918 6.271 6.783 16.39 1.188 22.62L69.53 256L203.9 405.3z"/></svg>
          <span>Prev Page</span>
        </a>
      {% endif %}
    </div>
    <div>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
          <span>Next Page</span>
          <svg id="pageNext" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="18" fill="currentcolor"><path d="M219.9 266.7L75.89 426.7c-5.906 6.562-16.03 7.094-22.59 1.188c-6.918-6.271-6.783-16.39-1.188-22.62L186.5 256L52.11 106.7C46.23 100.1 46.75 90.04 53.29 84.1C59.86 78.2 69.98 78.73 75.89 85.29l144 159.1C225.4 251.4 225.4 260.6 219.9 266.7z"/></svg>
        </a>
      {% endif %}
    </div>
  </div>
</div>
